<%= current_user.email %>
<h3>현재 이 방에 참여한 사람</h3>
<div class="join_user_list">
<% @chat_room.users.each do |user| %>
    <p><%= user.email %></p>
<% end %>
</div>
<hr>

<%= link_to 'join', join_chat_room_path(@chat_room), method: 'post', remote: true, class: "join_room" %> |
<%= link_to 'Edit', edit_chat_room_path(@chat_room) %> |
<%= link_to 'Back', chat_rooms_path %>

<script>
$(document).on('ready', function() {
    function user_joined(data){
        $('.join_user_list').append(`<p>${data.email}</p>`);
    }

    var pusher = new Pusher('<%= ENV["pusher_key"] %>', {
      cluster: "<%= ENV["pusher_cluster"] %>",
      encrypted: true
    });
    
    // chat_room이라는 채널명의 join이라는 이벤트를 
    var channel = pusher.subscribe('chat_room');
    channel.bind('join', function(data) {
      console.log(data);
      user_joined(data);
    });
})    
    
</script>
